<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ratnabarot.mealpicker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MealMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Smoothies"
            android:label="@string/title_activity_smoothies"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Salad"
            android:label="@string/title_activity_salad"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Soup"
            android:label="@string/title_activity_soup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Stirfry"
            android:label="@string/title_activity_stirfry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pickfruit"
            android:label="@string/title_activity_pickfruit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SmoothieRecipes"
            android:label="@string/title_activity_smoothie_recipes"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>